@{
    ViewData["Title"] = "Resim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!doctype html>
<html>
<head>

    <!-- Bootstrap Static Header -->
    <div style="height: 1000px; background-image:url(/resimler/Resimler/back2.jpg); background-position: center" class="jumbotron bg-cover text-white">
        <div style="margin-top: 15%;background-color: transparent " class="container py-5 text-center">
            <h1 style="color: white; " class="display-4 font-weight-bold">RESİMLER</h1>
            <p style="color: white; " class="font-italic mb-0">Bu sitede Çorum kültürü, yemekleri, gezi yerleri, kalabileceğiniz oteller görebilirsiniz.</p>
            <p style="color: white;" class="font-italic">
                İyi eğlenceler
                
            </p>
        </div>
    </div>

    <!-- For Demo Purpose -->
    <div class="container py-5">
        <h2 class="h3 font-weight-bold">&nbsp; Çorum Hakkında</h2>
        <div class="row">
            <div class="col-lg-10 mb-4">
                <p class="font-italic text-muted"> <strong class="font-weight-bold text-dark">Hoş Geldiniz  Çorum'a! </strong> Binlerce yıllık tarihi, zengin kültürel mirası ve benzersiz doğal güzellikleriyle Türkiye'nin gözde şehirlerinden biri olan Çorum'u keşfetmek için hazır olun. Bu büyüleyici şehir, Anadolu'nun kalbinde yer alır ve sizleri eşsiz bir deneyimle karşılamaya davet eder.</p>
                <p class="font-italic text-muted">Tarih boyunca farklı medeniyetlerin izlerini taşıyan Çorum, zengin arkeolojik siteleriyle ünlüdür. Hitit İmparatorluğu'nun başkenti olan Hattuşaş,<strong class="font-weight-bold text-dark"> UNESCO </strong> Dünya Mirası Listesi'nde yer alır ve ziyaretçilere muhteşem bir antik kent deneyimi sunar. Burada, Hititlerin etkileyici tapınakları, sarayları ve anıtlarıyla büyülenirken, geçmişin büyüsüne kapılacaksınız.</p>
            </div>
            <div class="col-lg-8">
                <p class="font-italic text-muted">Doğal güzellikler açısından Çorum da gerçekten benzersizdir. Şehir, Türkiye'nin en büyük tatlı su gölleri arasında yer alan ve aynı zamanda bir milli park olan Kızılırmak Deltası'na ev sahipliği yapar. Bu doğal yaşam alanı, kuş gözlemcileri ve doğa severler için bir cennettir. Sayısız kuş türü, göz alıcı manzaralar eşliğinde dans ederken, muhteşem güzellikleriyle gözlerinizi kamaştıracak.</p>
            </div>
        </div>
    </div>



</head>

<body>




    <div class="container">
        <center>  <h1>Çorum’da Gezilecek Yerler En İyi 5 Yer</h1></center>
        <br>
    @*    <!-- Bitmedi Düzenlenecek -->
        <ul>
            <li><a href="#"> Ali Paşa Hamamı </a> </li>
            <li><a href="#"> Hattuşaş Antik Kenti Hakkında</a></li>
            <li><a href="#">İncesu Kanyonu</a></li>
            <li><a href="#">Kargı Yaylası</a></li>
            <li><a href="#">Kargı Yaylası Hakkında</a></li>
        </ul>
        <!-- Bitmedi Düzenlenecek -->*@

        <h2 class="h3 font-weight-bold"> Ali Paşa Hamamı</h2>
        <div class="gallery-grid">
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/ali pasa/102286859_168555187994239_598113431427153814_n.jpg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/ali pasa/2021-12-07.jpg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/ali pasa/5f22e91f-ce57-4d65-b375-78316fcfaedb.jpg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/ali pasa/89560862_139874177529007_8145191832305795072_n.jpg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/ali pasa/MG_0303.jpg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/ali pasa/image.jpg" alt="symbol image" title="symbol image">

            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/ali pasa/ali-pasa-hamami-corum.jpg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/ali pasa/92627595_154606649389093_3018359065504907264_n.jpg" alt="symbol image" title="symbol image">
            </figure>

        </div><!-- end:gallery-grid -->

        <div class="container py-5">
            <h2 class="h3 font-weight-bold">&nbsp;Ali Paşa Hamamı Hakkında</h2>
            <div class="row">
                <div class="col-lg-10 mb-4">
                    <p class="font-italic text-muted"> Çorum'un tarihi dokusunu yansıtan önemli mekanlardan biri olan Ali Paşa Hamamı, Osmanlı dönemine ait bir hamamdır. Bu tarihi hamam, 16. yüzyılda inşa edilmiş olup şehrin merkezinde bulunmaktadır. Ziyaretçiler, Ali Paşa Hamamı'na adım attıklarında Osmanlı mimarisinin zarif detaylarını ve geçmişin izlerini keşfedeceklerdir.

                    </p>
                    <p class="font-italic text-muted">
                        HAli Paşa Hamamı, geleneksel Türk hamamı mimarisine sadık kalınarak inşa edilmiştir. Büyük bir kubbe ile örtülü olan merkezi ısınma alanı, sıcak ve soğuk su havuzları, soyunma odaları ve dinlenme alanlarıyla ziyaretçilerine rahatlama ve huzur sunmaktadır. Hamamın özenle işlenmiş taş işçiliği, süslemeleri ve etkileyici atmosferi, tarihi bir yolculuk yapmak isteyenleri büyüler.

                    </p>
                    <p class="font-italic text-muted">
                        Ali Paşa Hamamı, günümüzde restore edilmiş ve işlevsel bir şekilde kullanılmaktadır. Burada geleneksel hamam keyfini yaşayabilir, yorgunluğunuzu atabilir ve Osmanlı kültürüne dair bir deneyim yaşayabilirsiniz. Hamamda sunulan masaj hizmetleri ve spa olanakları da ziyaretçilere tam bir rahatlama deneyimi sunar.

                    </p>
                    <p class="font-italic text-muted">
                        Ali Paşa Hamamı, Çorum'un tarihini ve kültürel mirasını yaşatan önemli bir yapıdır. Ziyaretçiler, bu tarihi hamamda geçmişe yolculuk yaparak, Osmanlı dönemine ait geleneksel hamam kültürünü deneyimleyebilirler. Ali Paşa Hamamı, ziyaretçilere kendilerini şımartma ve tarihi bir atmosferde dinlenme fırsatı sunan eşsiz bir mekandır.

                    </p>
                </div>


            </div>

        </div>
    </div>

    <div class="container">

        <h2 class="h3 font-weight-bold">  İncesu Kanyonu</h2>
        <div class="gallery-grid">
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/incesu/1.webp" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/incesu/2.jpg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/incesu/6.jpg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/incesu/3.jpg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/incesu/4.jpg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/incesu/5.jpg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/incesu/8.webp" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/incesu/7.jpg" alt="symbol image" title="symbol image">
            </figure>

        </div><!-- end:gallery-grid -->

        <div class="container py-5">
            <h2 class="h3 font-weight-bold"> &nbsp; İncesu Kanyonu Hakkında</h2>
            <div class="row">
                <div class="col-lg-10 mb-4">
                    <p class="font-italic text-muted">
                        Çorum'un doğal güzelliklerinden biri olan İncesu Kanyonu, muhteşem manzarası ve doğal yapısıyla ziyaretçilerine benzersiz bir deneyim sunar. Kanyon, İncesu Çayı'nın oluşturduğu derin ve etkileyici bir vadidir. Doğa severler, buraya gelerek doğanın büyüleyici bir parçasını keşfedebilirler.

                    </p>
                    <p class="font-italic text-muted">
                        İncesu Kanyonu, sarp kayalıkları, yeşil bitki örtüsü, berrak suyu ve şelaleleriyle göz kamaştırır. Kanyonun içinden geçen patikaları takip ederek yürüyüş yapabilir veya dağcılık tutkunları için heyecan verici bir tırmanış deneyimi yaşayabilirsiniz. Kanyonun içerisinde yer alan şelaleler, doğanın serinleyici güzelliklerini sunar ve fotoğraf tutkunları için unutulmaz kareler yakalama fırsatı sunar.

                    </p>
                    <p class="font-italic text-muted">
                        İncesu Kanyonu aynı zamanda doğa sporları için de ideal bir mekandır. Rafting yapmak isteyenler burada akıntılı sularında keyifli bir deneyim yaşayabilirler. Ayrıca kanyonda kamp yapabilir, piknik alanlarında doğanın tadını çıkarabilir ve kuş gözlemciliği yapabilirsiniz. Kanyonun sessizliği ve huzuru, ziyaretçilerine stres atma ve doğanın kollarında dinlenme imkanı sunar.

                    </p>
                    <p class="font-italic text-muted">
                        İncesu Kanyonu, doğal güzellikleriyle büyüleyen ve macera arayanlar için ideal bir mekandır. Şehrin gürültüsünden uzaklaşıp doğanın kucaklayıcı atmosferinde huzur bulmak isteyenler için mükemmel bir seçenektir. İncesu Kanyonu, doğal güzellikleri ve heybetli manzarasıyla ziyaretçilerine unutulmaz bir doğa deneyimi sunar.

                    </p>
                </div>


            </div>
        </div>
    </div>

    <div class="container">

        <h2 class="h3 font-weight-bold"> Kargı Yaylası </h2>
        <div class="gallery-grid">
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/Kargı yaylası/1.jpeg" alt="symbol image" title="symbol image">

            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/Kargı yaylası/2.jpeg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/Kargı yaylası/3.jpeg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/Kargı yaylası/4.webp" alt="symbol image" title="symbol image">

            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/Kargı yaylası/5.jpeg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/Kargı yaylası/6.jpg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/Kargı yaylası/7.webp" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/Kargı yaylası/8.webp" alt="symbol image" title="symbol image">
            </figure>

        </div><!-- end:gallery-grid -->

        <div class="container py-5">
            <h2 class="h3 font-weight-bold"> &nbsp; Kargı Yaylası Hakkında</h2>
            <div class="row">
                <div class="col-lg-10 mb-4">
                    <p class="font-italic text-muted">
                        Çorum'un doğal güzelliklerine sahip olan Kargı Yaylası, doğa severler ve kamp tutkunları için vazgeçilmez bir destinasyondur. Kargı Yaylası, şehir merkezine yaklaşık 80 kilometre uzaklıkta bulunur ve muhteşem bir dağ manzarasıyla çevrilidir. Buraya ulaşmak için keyifli bir yolculuk yapmanız gerekecek, ancak bu güzel yaylanın sunduğu doğal güzellikler buna değecektir.

                    </p>
                    <p class="font-italic text-muted">
                        Kargı Yaylası, geniş otlakları, çiçeklerle süslü vadileri ve temiz havasıyla göz kamaştırır. Yaylada yürüyüş yapabilir, bisiklete binebilir veya at binerek çevredeki doğayı keşfedebilirsiniz. Aynı zamanda yaylada çadır kurup kamp yapabilir, doğanın sesini dinleyerek huzur dolu bir gece geçirebilirsiniz.

                    </p>
                    <p class="font-italic text-muted">
                        Yaylada bulunan göletler ve akarsular, ziyaretçilere serinleme ve balık tutma imkanı sunar. Sessizliğin ve huzurun tadını çıkarırken, doğanın sunduğu güzelliklerle iç içe olma fırsatını yaşayabilirsiniz. Ayrıca, Kargı Yaylası'nın yakınlarında bulunan yayla evleri ve köylerde yöresel yaşamı ve geleneksel kültürü deneyimleyebilirsiniz.

                    </p>
                    <p class="font-italic text-muted">
                        Kargı Yaylası, doğal güzellikleriyle ve sakin atmosferiyle ziyaretçilerine doğa ile baş başa bir kaçış sunar. Yemyeşil ormanları, berrak suları ve muhteşem dağ manzarasıyla Kargı Yaylası, şehir hayatından uzaklaşmak ve doğanın tadını çıkarmak isteyenler için mükemmel bir seçenektir.

                    </p>
                </div>


            </div>
        </div>
    </div>

    <div class="container">

        <h2 class="h3 font-weight-bold">  Çatak Tabiat Parkı </h2>
        <div class="gallery-grid">
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/çatak/1.jpeg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/çatak/2.jpg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/çatak/3.jpg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/çatak/4.webp" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/çatak/5.jpg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/çatak/6.jpeg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/çatak/7.jpg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/çatak/8.jpg" alt="symbol image" title="symbol image">
            </figure>

        </div><!-- end:gallery-grid -->

        <div class="container py-5">
            <h2 class="h3 font-weight-bold"> &nbsp; Çatak Tabiat Parkı Hakkında</h2>
            <div class="row">
                <div class="col-lg-10 mb-4">
                    <p class="font-italic text-muted">
                        Çatak Tabiat Parkı, Çorum'un doğal güzelliklerini koruma ve ziyaretçilere sunma amacıyla oluşturulmuş önemli bir doğal koruma alanıdır. Park, Çorum'un Osmancık ilçesinde yer alır ve geniş bir alana yayılan tabiatıyla göz doldurur. Ziyaretçiler, buraya gelerek doğanın benzersiz dokusunu keşfedebilir ve doğal yaşamın tadını çıkarabilir.

                    </p>
                    <p class="font-italic text-muted">
                        Çatak Tabiat Parkı, çeşitli bitki ve hayvan türlerine ev sahipliği yapar. Ormanlık alanlar, yeşil vadiler ve akarsularıyla göz kamaştırır. Ziyaretçiler, park içinde yürüyüş yapabilir, piknik yapabilir ve doğa fotoğrafçılığına meraklı olanlar için eşsiz kareler yakalama fırsatı bulabilir.

                    </p>
                    <p class="font-italic text-muted">
                        Parkta bulunan göletler ve akarsular, serinleme imkanı sunar ve doğal güzelliklerle çevrili piknik alanları, aileler ve arkadaş grupları için ideal bir dinlenme ve eğlence mekanıdır. Ayrıca, kuş gözlemciliği yapmak isteyenler için zengin bir kuş türü çeşitliliği bulunur. Park, doğa tutkunları ve macera arayanlar için yürüyüş rotaları ve doğa sporları yapma imkanları sunar.

                    </p>
                    <p class="font-italic text-muted">
                        Çatak Tabiat Parkı, doğanın sakinliğini ve huzurunu arayanların kaçış noktasıdır. Yemyeşil doğası, berrak suları ve çeşitlilik gösteren flora ve fauna zenginliğiyle ziyaretçilere unutulmaz bir doğa deneyimi sunar. Çorum'un doğal güzelliklerini keşfetmek ve doğa ile iç içe bir kaçamak yapmak isteyenler için Çatak Tabiat Parkı, görülmeye değer bir doğal koruma alanıdır.

                    </p>
                </div>


            </div>
        </div>
    </div>

    <div class="container">

        <h2 class="h3 font-weight-bold"> Obruk Barajı </h2>
        <div class="gallery-grid">
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/obruk/12.jpg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/obruk/2.JPG" alt="symbol image" title="symbol image">

            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/obruk/5.jpg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/obruk/3.jpg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/obruk/55.jpg" alt="symbol image" title="symbol image">

            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/obruk/222.jpg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/obruk/7.jpg" alt="symbol image" title="symbol image">
            </figure>
            <figure class="gallery-frame">
                <img class="gallery-img" src="/resimler/Resimler/obruk/8.jpg" alt="symbol image" title="symbol image">
            </figure>

        </div><!-- end:gallery-grid -->

        <div class="container py-5">
            <h2 class="h3 font-weight-bold">&nbsp; Obruk Barajı Hakkında</h2>
            <div class="row">
                <div class="col-lg-10 mb-4">
                    <p class="font-italic text-muted">
                        Obruk Barajı, Çorum'un Oğuzlar ilçesinde yer alan önemli bir su kaynakları projesidir. Baraj, Obruk Çayı üzerine inşa edilmiş olup, hem enerji üretimi hem de sulama amacıyla kullanılmaktadır. Obruk Barajı, bölgenin su ihtiyacını karşılaması yanında doğal güzelliğiyle de dikkat çekmektedir.

                    </p>
                    <p class="font-italic text-muted">
                        Baraj gölü, etrafını saran dağlar ve yeşil doğa ile çevrilidir. Sakin ve huzurlu bir atmosfere sahip olan Obruk Barajı, doğa severlerin ve piknik yapmak isteyenlerin uğrak noktalarından biridir. Gölette yapılan balık avı da popüler bir aktivitedir.

                    </p>
                    <p class="font-italic text-muted">
                        Obruk Barajı çevresinde piknik alanları, kamelyalar ve oturma alanları bulunur. Ziyaretçiler, burada doğanın tadını çıkarırken manzaranın keyfini çıkarabilir ve sevdikleriyle güzel vakit geçirebilirler. Ayrıca, baraj gölünde tekne turu yapma imkanı da mevcuttur.

                    </p>
                    <p class="font-italic text-muted">
                        Obruk Barajı aynı zamanda doğa yürüyüşleri için de uygun bir ortamdır. Barajın etrafında yer alan yürüyüş parkurları, doğa ile iç içe keyifli bir yürüyüş deneyimi sunar. Burada yürüyüş yaparken çevrenin güzelliklerini keşfedebilir ve kuş sesleri eşliğinde dinlendirici bir gezinti yapabilirsiniz.

                    </p>
                    <p class="font-italic text-muted">
                        Obruk Barajı, doğal güzelliği ve doğa ile iç içe olma imkanı sunmasıyla ziyaretçilerine hoş bir deneyim yaşatır. Hem su kaynakları yönetimi açısından önemli bir yapıya sahip olması hem de etrafındaki doğal güzellikleriyle Obruk Barajı, Çorum'da görülmeye değer bir noktadır.

                    </p>
                </div>


            </div>
        </div>
    </div>


</body>

</html>


