@{
    ViewData["Title"] = "Alaca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Bootstrap Static Header -->
<div style="height: 1000px;background-image:url(/resimler/müzeler/bogazköy/1.jpg);background-position: center" class="jumbotron bg-cover text-white">
    <div style="margin-top: 15%;background-color: transparent " class="container py-5 text-center">
        <h1 style="color: white; " class="display-4 font-weight-bold">Alacahöyük Müzesi</h1>


    </div>
</div>


    <div class="container py-5">
    <h2 class="h3 font-weight-bold">&nbsp; Alacahöyük </h2>
        <div class="row">
            <div class="col-lg-10 mb-4">
                <p class="font-italic text-muted">
                    Alacahöyük, 1835 yılında W.G.Hamilton tarafından keşfedildi. 1907’de Theodor Makridi, İstanbul Müzeleri adına kazıyı yürüttü. Sistemli kazılara 1935’te Türk Tarih Kurumu adına Dr. Hamit Koşay ve Prof. Remzi Oğuz Arık tarafından başlanıldı; 1936’dan sonra Hamit Zübeyr Koşay, daha sonra H.Z. Koşay – Mahmud Akok, son senelerde de M. Akok tarafından 1983’e kadar sürdürüldü. 1983’te ara verilen kazılara 1996’da Prof. Dr. Aykut Çınaroğlu tarafından yeniden başlandı.

                </p>
                <p class="font-italic text-muted">
                    Eski Tunç Çağı ve Hitit çağında çok önemli bir kült ve sanat merkezi olan Alaca Höyükte 4 kültür katı açığa çıkartılmıştır.

                </p>

            </div>
            <div class="col-lg-10">
                <p class="font-italic text-muted">
                    Alaca Höyük’te 1. kültür katı, Geç Demir Çağı (Frig), Hellenistik, Roma, Bizans, Selçuklu-Osmanlı dönemleri ile temsil edilmektedir. Geç Demir Çağında höyüğün her yanı iskân edilmiştir. Küçük evlerden oluşan bu kat, MÖ 650’den daha eski değildir.

                </p>
                <p class="font-italic text-muted">
                    Mabedi, büyük yapıları, özel-blok evleri, sokakları, büyük küçük su kanalları, şehir suru, biri kabartmalı orta statlarla süslü sfenksli, diğeri poternli anıtsal kapılarıyla Hitit İmparatorluk Çağı (MÖ.1450-1200) 2. kültür katını oluşturur.


                </p>
                <p class="font-italic text-muted">
                    Kalker temel üzerine andezit bloklarla inşa edilmiş olan Sfenksli Kapının genişliği 10 metredir. O, bir yolla bağlandığı büyük mabedin anıtsal geçididir. Dış girişin iki yanındaki büyük söğe bloklarının dış yüzleri sfenks protomlarıyla süslüdür. Kulelerin dış ve iç yüzleri kabartmalı ortostadlarla bezelidir. Sol kulede, kaide üzerinde ayakta duran boğa “Göklerin Fırtına Tanrısını” sembolleştirir. İzleyen blok’ta, sunak önünde dua jestinde ilerleyen kral ve kraliçe, arkadaki bloklarda kült objeleri taşıyıcılarının önünde, kurban hayvanları keçi ve koçların getirilişi, merdiven ve hançerle gösteri yapan figürler izlemektedir. Arkasındaki blokta, ilki küçük bir hayvanı, olasılıkla bir ritonu taşımakta, diğeri saz çalma katıdr. Sonuncu blokta, iki tekerlek üzerinde sağa yönlendirilmiş, iri bir boğa görülmektedir. Sırtındaki yüksek çıkıntı onun, bir kült objesi olduğunu düşündürmektedir. Aynı kulede, üstte ikinci sıradaki iki blokta geyik, domuz avları iki friz halinde düzenlenmiştir. Sağ kule köşe bloklarda, tahtında oturan tanrıça ile ona tapan görevlileri gösteren kabartmalar yerlerinde korunmuştur. Alaca Höyük “Sfenksli Kapı” serisinde bir kült/bayram kutlanışının canlandırıldığı açıktır.



                </p>
                <p class="font-italic text-muted">
                    Alacahöyük 3. Kültür katını Erken Tunç Çağı (MÖ 2500-2000) oluşturur. Hitit kültürüne kaynaklık eden kültürlerin önde geleni olan yerli Hatti Uygarlığının aydınlanmasında çok katkıları olan Alaca Höyük ErkenTunç Çağı hanedan mezarları, bu çağın en önemli buluntularıdır. İntramural (Şehir İçi Gömme) mezarlar özel olarak ayrılmış bir alanda toplanmıştır. Dört yanı taşla örülmüş dikdörtgen mezarlar ahşap hatıllarla kapatılmış, damları üzerine kurban edilmiş sığır başları, bacakları yerleştirilmiştir. Altın, gümüş, elektrum, bakır, tunç, demir ve değerli taşlardan oluşan zengin ölü hediyeleri onların hanedana ait olduklarını göstermektedir. Çoğu altın, gümüş kapların dövme, dökme, kakma teknikleri, altın mücevheratın ince süsleri uzun bir gelişmenin ürünleridir. Anılan bu eserler, günümüzde Ankara Anadolu Medeniyetleri Müzesinde sergilenmektedir.



                </p>
                <p class="font-italic text-muted">
                    4. kültür katını oluşturan Geç Kalkolitik Çağ (MÖ 5500-3000) ana toprak üzerine kurulmuş ilk uygarlıktır.

                </p>
                <div style="width: 100%; " id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block mx-auto" src="/resimler/müzeler/alacahoyuk/3.jpg" alt="First slide">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mx-auto" src="/resimler/müzeler/alacahoyuk/1.jpg" alt="Second slide">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mx-auto" src="/resimler/müzeler/alacahoyuk/2.jpg" alt="Third slide">
                            <div class="carousel-caption">
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
                </div>

                <div class="ortala">
                <h2 class="h3 font-weight-bold">&nbsp; Öne Çıkan Yorumlar</h2> <br>
                    <div class="teayorum">
                        <ul>
                            <li>
                                <div class="img"><img src="/resimler/çorum gezi.png"></div>
                                <div class="yorum">
                                    <span>Ali Osman Ş***</span>
                                    <p>Çok güzel bir site olmuş elime sağlık.</p>
                                </div>
                            </li>
                        </ul>

                    </div>


                    <div class="forum">
                        <form action="javascript:yorum()">

                            <div class="input">
                                <span>Adınız Soyadınız </span>
                                <input type="text" name="adinizsoyadiniz">
                            </div>

                            <div class="input">
                                <span>Yorumunuz</span>
                                <textarea name="yorum"></textarea>
                            </div>

                            <div class="buton"><button type="submit">Yorum Gönder</button></div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Harita  -->

    <div class="container py-5">
    <h2 class="h3 font-weight-bold"> &nbsp; Nasıl Giderim</h2>
        <div class="row">
            <div class="col-lg-10 mb-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3031.9749770769786!2d34.9489759153997!3d40.54214197935073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40872abbc6474dbf%3A0x75c15e949b804df7!2zw4dvcnVtIE3DvHplc2k!5e0!3m2!1str!2str!4v1689955037080!5m2!1str!2str" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
        </div>
    </div>


