
@{
    ViewData["Title"] = "Hakkimda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html>

<body>
    <!-- Main Container -->
    <div class="container">
        <!-- Header -->
        <header style="margin-top: 50px" class="header">
            <h4 class="logo">Ben Kimim?</h4>
        </header>
        <!-- Hero Section -->
        <section class="intro">
            <div class="column">
                <h3>Ali Osman ŞAHİN</h3>
                <img style="border-radius: 50%; margin-top: 40px; " src="/resimler/ben/benim pp.jpg" alt="pp" class="profile">
            </div>
            <div class="column">
                <p>Merhaba, ben bir yazılım geliştiricisi adayıyım ve öncelikle kendimi bir öğretmen olarak yetiştirdim. Ancak şimdi, yazılım dünyasındaki kariyerime odaklanmak istiyorum. HTML, CSS ve başlangıç seviyesinde C# dillerinde kursalar aldım, hala farklı kursları alıyorum ve daha da ileriye gidebilmek için, pratik yapabilmek için kendi başıma aklıma gelen bir kaç proje üzerinde çalışıyorum ve bu alanlarda kendimi geliştirmek için sürekli öğrenme isteği duyuyorum. </p>
                <p>Hello, I am a software developer candidate and I primarily trained myself as a teacher. However, now I want to focus on my career in the software world. I have taken courses in HTML, CSS, and beginner-level C# languages, and I am still taking different courses. To be able to advance further, I am working on a few projects that come to mind on my own to be able to practice and improve myself in these areas, and I constantly have the desire to learn more. </p>
            </div>
        </section>
        <!-- Stats Gallery Section -->
        <div class="gallery">
            <div class="thumbnail">
                <img src="/resimler/ben/AÖL.jpg" alt="" width="2000" class="cards" />
                <h4>Lise</h4>
                <p class="tag">Çorum Anadolu Öğretmen Lisesi</p>
                <p class="text_column">Öğretmen olmayı isterdim ve bu sebeple bir öğretmen lisesine gitmeye karar verdim. Bulunduğum ilin en iyi okullarından birisi olan bu liseden mezun oldum.  </p>
            </div>
            <div class="thumbnail">
                <img src="/resimler/ben/Erciyes.jpeg" alt="" width="2000" class="cards" />
                <h4>Üniversite</h4>
                <p class="tag">Erciyes Üniversitesi</p>
                <p class="text_column">Öğretmen olabilmek için üneversite sınavından ilk bin kişi arasına girerek sosyal bilgiler öğretmenliğini kazandım üneversite yıllarında yazılıma ilgi duymaya başladım.         </p>
            </div>
            <div class="thumbnail">
                <a><img src="/resimler/ben/işhayatı.jpg" alt="" width="2000" class="cards" /></a>
                <h4>İş Hayatım</h4>
                <p class="tag">Öğretmenlik</p>
                <p class="text_column">Başarılı sevilen bir öğretmendim ama artık kendimi yazılım alanında geliştirmek ve ilerlemek istiyorum. Bu sebeple öğrtetmenlik mesleğimi artık yapmıyorum.</p>
            </div>
            <div class="thumbnail">
                <a><img src="/resimler/ben/hedeflerim.jpg" alt="" width="2000" class="cards" /></a>
                <h4>Hedeflerim</h4>
                <p class="tag">Yazılım</p>
                <p class="text_column">Yazılım konusunda neleri başarabileceğim hakkında heyecanlıyım. Kendimi sürekli ileriye gitmek zorunda olduğumu biliyorum ve bu yüzden seviyorum yazılımı. </p>
            </div>
        </div>

    </div>


</body>

</html>
