
@{
    ViewData["Title"] = "CorumMuzesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html>
<head>


    <!-- Bootstrap Static Header -->
    <div style="height: 1000px; background-image:url(/resimler/müzeler/47312,coru0013jpg.png); background-position: center" class="jumbotron bg-cover text-white">
        <div style="margin-top: 15%;background-color: transparent " class="container py-5 text-center">
            <h1 style="color: white; " class="display-4 font-weight-bold">Çorum Müzesi</h1>


        </div>
    </div>



</head>

<body>


    <div class="container py-5">
        <h2 class="h3 font-weight-bold">&nbsp; Çorum Müzesi </h2>
        <div class="row">
            <div class="col-lg-10 mb-4">
                <p class="font-italic text-muted">
                    1968 yılında açılan Çorum Müzesi, 2000 yılından itibaren yeni binasında hizmet vermeye başlamıştır. 1914 tarihinde hastane olarak yapılan ve günümüzde müze olarak hizmet veren binada, Arkeoloji ve Etnografya salonları birbirinden bağımsız olarak düzenlenmiştir.


                </p>
                <p class="font-italic text-muted">
                    Arkeoloji salonu kronolojik ve tematik sergileme sistemine göre düzenlenmiştir. Kalkolitik Çağ’a tarihlenen Alacahöyük ve Kuşsaray, Erken Tunç Çağ’ına ait Resuloğlu, Alacahöyük eserleri kronolojik olarak sergilenmektedir. Aynı alandaki tematik sergide Erken Tunç Çağ’ı Alacahöyük mezarı ve bu mezara ait ölü gömme töreni interaktif olarak canlandırılmıştır. Ziyaretçiler dokunmatik ekrandan mezar hakkında interaktif olarak bilgi alabilmektedir.


                </p>
            </div>
            <div class="col-lg-10">
                <p class="font-italic text-muted">
                    Hitit yerleşmelerinin merkezinde yer alan Çorum’da başkent Boğazköy-Hattuşa, Alacahöyük, Ortaköy-Şapinuva ve Eskiyapar gibi kazıları devam eden önemli Hitit merkezleri bulunmaktadır. Bu merkezlerin yanında kazı çalışmaları tamamlanmış olan Yörüklü-Hüseyindede kazı alanında açığa çıkartılan “kabartmalı vazolar” Hitit dönemi eserleri arasında müze koleksiyonunda özel bir yere sahiptir. Bu vazolar hakkında ziyaretçiler, özel bir sunum ile hazırlanmış dokunmatik ekranda, interaktif olarak bilgi edinebilmektedirler. Ayrıca tematik olarak hazırlanmış olan Hitit mimarisi sergi alanında müze ziyaretçileri Hitit başkenti Hattuşa Ören Yerini, Hitit arabası ile sanal olarak gezebilmektedirler.


                </p>
                <p class="font-italic text-muted">
                    Müzede Hitit Dönemi’ne ait üzeri çivi yazılı ünik bronz kılıç, UNESCO tarafından “Dünya Belleği Listesi”ne alınan Hitit dönemi çivi yazılı tabletler, Boğazköy-Hattuşa ve Ortaköy-Şapinuva kazılarında arşiv halinde bulunan kil mühür baskılı bullalar canlandırmalar eşliğinde sergilenmektedir.


                </p>
                <p class="font-italic text-muted">
                    Hitit dönemi sonrasında bölgede Pazarlı, Boğazköy-Hattuşa ve Alacahöyük’te yaşamlarını devam ettirmiş olan Demir Çağ’ı (Frigler) kültürüne özgü birçok vitrin arkalarına yapılan canlandırma çizimler eşliğinde sergilenmektedir. Bu dönemi Helenistik, Galat, Roma ve Bizans dönemi seramik, cam ve madeni eserlerin sergisi takip eder. Bu salonda Roma dönemi Güneş Saatinin çalışma sistemi olan ışığın hareketi ile gölgenin saat üzerindeki çizgiye yansıması tematik olarak ziyaretçiye aktarılmaktadır. Ayrıca, müzede Helenistik, Roma eyalet ve resmi sikkeler ile Doğu Roma ve İslami dönem sikkelerinden oluşan zengin bir sikke koleksiyonu da sergide yerini almıştır.
                </p>
                <p class="font-italic text-muted">
                    Çorum müzesi Etnografya salonu, Türk sanatının Selçuklu ve Osmanlı Dönemleri’nden günümüze kadar devam eden örneklerinin sergilendiği bir bölümdür. Bu salonda Çorum’a özgü bakırcılık, leblebicilik ve kahvehane kültürünü yansıtan üç ayrı dükkân çağdaş müzecilik anlayışında tematik olarak canlandırılmıştır.


                </p>
                <p class="font-italic text-muted">
                    Müzede, Türkçe ve İngilizce olmak üzere iki dilde sesli rehberlik sistemi ücretsiz olarak ziyaretçiler tarafından kullanılabilmektedir.


                </p>
                <p class="font-italic text-muted">
                    Ayrıca Müzenin “Çorum Museum Collection” isimli mobil uygulaması hayata geçirilmiştir. Akıllı telefonlara ücretsiz olarak indirilebilen bu uygulamada kullanıcılar; Çorum Müzesi, Boğazköy ve Alacahöyük Ören Yerleri ve Hitit Uygarlığı ile ilgili bilgilere ulaşılmaktadır. Mobil uygulama, Hititler ile ilgili yapılmış olan canlandırmalardan dönemin yaşamı hakkında bilgiler edinilirken, sergilenen eserler arasından seçilen önemli objelerin nasıl yapıldıkları, kullanım amaçları öğrenilmektedir. Müzeyi gezerken de kullanılabilecek bir araç olan bu uygulama, kullanıcıların telefonlarında saklayabilecekleri ve her zaman erişebilecekleri bir bilgi bütünüdür. Uygulamaya Google Play veya App Store’dan ücretsiz olarak erişilmektedir.


                </p>
                <p class="font-italic text-muted">
                    Çorum Müzesinde bir program dâhilinde öğrencilere ve zaman zaman da yetişkinlere müze eğitimleri verilmektedir. Ayrı bir atölye ve Hitit evinden oluşan eğitim ve uygulama merkezi içerisinde ülkemizde ilk kez Çorum Müzesinde uygulaması yapılan 20 yataklı bir yatakhane bulunmaktadır. Ülkenin çeşitli illerinden müze eğitimine gelen öğrenciler, eğitimlerini yatılı olarak da alabilmektedirler.


                </p>
                <div style="width: 100%; " id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block mx-auto" src="/resimler/müzeler/corum/1.png" alt="First slide">
                            <div class="carousel-caption">
                                <h5>Son Adam Gibi ADAMLAR </h5>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mx-auto" src="/resimler/müzeler/corum/2.jpg" alt="Second slide">
                            <div class="carousel-caption">
                                <h5>Uykucu Şirin</h5>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mx-auto" src="/resimler/müzeler/corum/3.jpg" alt="Third slide">
                            <div class="carousel-caption">
                                <h5> Çömlekler</h5>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
                </div>

                <div class="ortala">
                    <h2 class="h3 font-weight-bold">&nbsp; Öne Çıkan Yorumlar</h2> <br>
                    <div class="teayorum">
                        <ul>
                            <li>
                                <div class="img"><img src="/resimler/çorum gezi.png"></div>
                                <div class="yorum">
                                    <span> Osman D***</span>
                                    <p>Görülmeye değer bir müze.</p>
                                </div>
                            </li>
                        </ul>

                    </div>

                    <div class="forum">
                        <form action="javascript:yorum()">

                            <div class="input">
                                <span>Adınız Soyadınız </span>
                                <input type="text" name="adinizsoyadiniz">
                            </div>

                            <div class="input">
                                <span>Yorumunuz</span>
                                <textarea name="yorum"></textarea>
                            </div>

                            <div class="buton"><button type="submit">Yorum Gönder</button></div>

                        </form>
                    </div>
                </div>
                <!-- Harita  -->

                <div class="container py-5">
                    <h2 class="h3 font-weight-bold">&nbsp; Nasıl Giderim</h2>
                    <div class="row">
                        <div class="col-lg-10 mb-4">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3055.250974414268!2d34.60586511538408!3d40.02517567941242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40872abe91e97c31%3A0x534d3b9ed4c23c67!2zQm_En2F6a8O2eSBBcmtlb2xvamkgTcO8emVzaQ!5e0!3m2!1str!2str!4v1690281165641!5m2!1str!2str" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</body>

</html>
